body {
  /* background-color: lightskyblue; */
  background-image: url(https://static1.squarespace.com/static/56e392fec2ea51482fe78351/t/57cdc5b59de4bb69facf22a4/1473103330551/Map+of+Nashville+-+dark+smaller.png);
  font-size: 20px;
  color: blueviolet
}
/* .main-container {
  background-image: url(https://static1.squarespace.com/static/56e392fec2ea51482fe78351/t/57cdc5b59de4bb69facf22a4/1473103330551/Map+of+Nashville+-+dark+smaller.png);
} */

img {
    width: 281px;
    height: 280px;
    padding: 13px;
    padding-left: 1px;
    padding-right: 31px;
    margin: 20px 40px;
}
.location-card {
  background-color: grey;
  width: 380px;
  height: 525px;
  padding: 20px;
  margin: 30px 50px;
}